html, body{
    margin: 0;
    padding: 0;
}
.upper{
    width: 100%;
    height: 320px;
}
.flex-container{
    width: 100%;
    height: 500px;
    background-color: rgb(227, 240, 236);
    display: flex;
}
#img1{
    padding-left: 95px;
    padding-top: 55px;
    padding-bottom: 40px;
    width: 480px;
    height: 370px;

}
#img2{
    padding-left: 95px;
    padding-top: 40px;
    margin-bottom: 80px;
    width: 1150px;
    height: 360px;
}
.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.upper h1{
    font-size: 45px;
    text-align: center;
    color: rgb(168, 124, 124);
    padding-top: 12px;
    font-weight: 700;
}
#para_1{
    text-align: center;
    font-size: 23px;
    font-weight: 450;
}
#sp_1{
    color: rgb(211, 131, 117);
    font-weight: 700;
}
#para_2{
    padding-left: 80px;
    font-size: 35px;
    font-weight: 400;
}
#para_3{
    font-size: 19px;
    padding-left: 90px;
    font-weight: 450;
}
.lower{
    height: 500px;
}
#more{
    color: black;
    padding-left: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 450;
}
